@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #bb9e59;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #bb9e59;
    position: relative;
    margin-bottom: 100px;
}

.profile-background {
    width: 100%;
    height: 240px;
    background-color: #846e15;
    background: url(../assets/yoga2.jpg) no-repeat center center;
    background-size: cover;
    border-bottom: 5px solid #dfd7c5;
}

.profile-photo {
    margin-top: -120px;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 30%; 
    border: 5px solid #dfd7c5;
    object-fit: cover;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    background: black;
    padding: 4px;
}


.profile-details {
    background-color: #dfd7c5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 180px;
    padding-right: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 20px;
    width: 90%;
    max-width: 800px;
    font-size: 22px;
    margin-top: 50px;
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}


.profile-details span {
    font-size: 22px;
}

.detail {
    display: flex;
    justify-content: space-between; /* Ensure equal space between label and value */
    align-items: center; /* Align items vertically */
}

.detail b {
    min-width: 120px; /* Set a fixed width for labels */
    text-align: left; /* Align text to the left */
    color: #846e15;
}

.detail span {
    flex: 1; /* Ensure value takes remaining space */
    text-align: left; /* Align text to the left for readability */
}

.detail-value {
    color: #000000;
}

.edit-button {
    background: linear-gradient(45deg, #dca526, #bf8a06);
    color: #fff;
    padding: 10px 20px;
    margin-top: 40px;
    margin-left: -20%;
    border-radius: 10px;
    font-size: 18px;
    transition: transform 0.3s, background 0.3s;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 20%;
    justify-self: center; /* Center the button horizontally */
    grid-column: span 2; /* Make the button span both columns */
}

.edit-button:hover {
    transform: translateY(-2px);
    background: linear-gradient(45deg, #bf8a06, #dca526);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}


.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #f5f0e1;
  margin: 5% auto;
  padding: 20px;
  border-radius: 5px;
  width: max-content;
  animation: fadeIn 0.5s ease-in-out;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#edit-form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto; /* Center the form horizontally */
}

#edit-form label {
    font-size: 14px;
    margin-bottom: 4px;
    color: #846e15;
}

#edit-form input[type="text"],
#edit-form input[type="email"],
#edit-form input[type="date"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 94%;
    margin-bottom: 10px;
}

#edit-form button {
    background-color: #846e15;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    width: 150px; /* Set a fixed width for the button */
    align-self: center; /* Center the button horizontally */
    margin-top: 15px;
}

#edit-form button:hover {
    background-color: #6c550f;
}

.close {
  color: red;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.close:hover {
  color: darkred;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}

.social-icons a {
    font-size: 40px;
    color: #846e15;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    color: #4e0267;
    transform: scale(1.2) rotate(10deg);
}

.premium-user {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #c2159f, #4e0267);
    padding: 16px 24px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    animation: glow 2s infinite alternate;
    letter-spacing: 1.2px;
    width: 300px;
}


@keyframes glow {
    0% { box-shadow: 0 5px 15px rgba(224, 207, 166, 0.4); }
    100% { box-shadow: 0 10px 30px rgba(224, 207, 166, 0.8); }
}

/* Responsive layout */
@media (max-width: 600px) {
    .profile-details {
        grid-template-columns: 1fr;
    }

    .detail {
        justify-content: space-evenly;
    }

    .social-icons {
        gap: 10px;
    }

    .premium-user {
        font-size: 20px;
    }
    #edit-form {
        width: 250px;
    }
}
