@media (max-width: 1200px) {
    #box{
      margin-top: -150px;
      margin-bottom: 150px;
    }
  
    #box1 {
      width: 75%;
      padding: 60px 25px 30px 25px;
    }
  
    .form-control {
      width: 90%;
    }
    #gender, #country {
      width: 93%;
    }
  
    .form-group {
      flex-basis: 48%;
    }
  
    h2 {
      margin-top: 100px;
    }
  }
  @media (max-width: 1200px) and (max-height: 600px) {
    #box{
      margin-top: 200px;
      margin-bottom: 250px;
    }
  
    #box1 {
      width: 75%;
      padding: 60px 25px 30px 25px;
    }
  
    .form-control {
      width: 90%;
    }
    #gender, #country {
      width: 93%;
    }
  
    .form-group {
      flex-basis: 48%;
    }
  
    h2 {
      margin-top: 100px;
    }
  }
  
  @media (max-width: 900px) {
    #box{
      margin-top: 20px;
      margin-bottom: 100px;
    }
    #box1 {
      width: 60%;
      padding: 60px 20px 30px 20px;
    }
  
    .form-control {
      width: 90%;
    }
    #gender, #country {
      width: 95%;
    }
  
    .form-group {
      flex-basis: 47%;
    }
  
    h2 {
      margin-top: 80px;
    }
  
    #avatar {
      height: 13%;
    }
  }
  
  @media (max-width: 600px) {
    #box{
      margin-top: 80px;
      margin-bottom: 100px;
    }
  
    #box1 {
      width: 75%;
      padding: 80px 20px 30px 20px; 
    }
  
  
    .form-group {
      flex-basis: 47%;
    }
  
    h2 {
      margin-top: 50px;
    }
  
    #avatar {
      height: 13%;
    }
  }
  
  @media (max-width: 405px) {
    #box{
      margin-top: 280px;
      margin-bottom: 400px;
    }
  
    #box1 {
      width: 67%;
      padding: 80px 20px 30px 20px; 
    }
  
    .form-group {
      flex-basis: 100%;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
  
    #address {
      width: 90%;
    }
  
    h2 {
      margin-top: 60px;
    }
  
    #avatar {
      height: 10%;
    }
  }